<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

	<display-name>JspMyAdmin</display-name>

	<servlet>
		<servlet-name>DefaultServlet</servlet-name>
		<servlet-class>com.jspmyadmin.framework.web.utils.DefaultServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

    <context-param>
        <param-name>serverName</param-name>
        <param-value>http://localhost:8080</param-value>
    </context-param>

	<servlet-mapping>
		<servlet-name>DefaultServlet</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DefaultServlet</servlet-name>
		<url-pattern>*.text</url-pattern>
	</servlet-mapping>

    <session-config>
        <session-timeout>15</session-timeout>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

	<error-page>
    	<error-code>404</error-code>
    	<location>/error.html</location>
	</error-page>
	<error-page>
    	<error-code>403</error-code>
    	<location>/error.html</location>
	</error-page>

	<error-page>
    	<exception-type>java.lang.Throwable</exception-type >
    	<location>/error.html</location>
	</error-page>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
